<div>
<mat-card class="example-card" appearance="outlined" style="margin: 20px; width: 400px;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ing. Sergio Yamil Andrade Calvimontes</mat-card-title>
      <mat-card-subtitle>Desarrollo Web FullStack</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="desktop1.webp" alt="Fotografia PC">
    <mat-card-content>
      <p>
        Módulo: Framewroks JavaScript (Angular) <br>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>