
  #matCard {
    margin: 20px;
    padding: 20px;
    background-image: url(../../img/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    color: white;
    font-size: medium;
    text-align: center;
  }	
  /* #matContent {
    background-color: aqua;
  } */
  mat-card-subtitle {
    font-size: 1.2em;
    color: white;
    display: flex;
    justify-content: center;
  }
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  mat-card-header{
    display: flex;
    justify-content: center;
  }