<mat-card>
</mat-card>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Contactos</mat-card-title>
    <mat-card-subtitle>Ingenieria Asociados</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p>
        Dirección: Calle 123, Ciudad, País	<br>
        Teléfono: +123 456 7890	<br>
        Email: abc123&#64;gmail.com    <br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Escribir</button>
    <button mat-button>Whatsapp</button>
  </mat-card-actions>
</mat-card>