/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url(./img/angular_render4k_1.webp); background-size: cover; background-position: center; background-repeat:no-repeat ;
  max-width: 100%;}
